.btn {
  margin: 0.5rem 0;
  text-decoration: none;
  padding: .5rem 1.2rem;
  display: inline-block;
  transition: all 0.2s;
  outline: 0;
}

.btn:hover {
  transform: translateY(2%);
}

.btn:disabled {
  cursor: not-allowed;
}

.btn:disabled:hover {
  transform: none;
}

.btn--full {
  width: 100%;
}

.btn--top-margin {
  margin-top: 1.4rem;
}

.btn__default {
  background-color: transparent;
  border-radius: 6px;
  border: 2px solid;
  border-color: #a27463;
  color: #a27463;
}

.btn__default:disabled {
  border-color: #e1d3cd;
  color: #e1d3cd;
}

.btn__default:hover {
  border-color: #996b5b;
  color: #996b5b;
}

.btn__default:disabled:hover {
  border-color: #e1d3cd;
  color: #e1d3cd;
}

.btn__round {
  background-color: #4caf50;
  color: #ddd;
  font-size: 1.2rem;
  border-radius: 50%;
  border: 0;
  height: 55px;
  width: 55px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
}

.btn__round:hover {
  background-color: #47a34b;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 3px 5px rgba(0, 0, 0, 0.16);
}

.btn__default--green {
  border-color: #4caf50;
  color: #4caf50;
}

.btn__default--green:hover {
  border-color: #429745;
  color: #429745;
}