<div class="wrapper">
  <div class="row row--gutters">
    <p class="generic-content">Enter a city to find nearby coffee shops, and how many people are going to each.</p>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row__small-9">
        <input
          class="form__input form__input--full"
          type="text"
          placeholder="Enter a city..."
          ngModel
          name="queryCity">
      </div>
      <div class="row__small-3">
        <button class="btn btn--blue btn--full" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>